body {
    /* font-family: "work sans"; */
    margin: 1px;
    padding: 0;
    background-color: #f9f8f7;
    background-image: url(/images/back\ ground\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: red; */
}
.ourmenu{
    /* background-color: red; */
    width: 300px;
    flex-direction: column;

}

header {
    
    padding: 10px;
    text-align: center;
    width: 100%;
}
a{
    color: rgb(247, 14, 14);
}
h1 {
    margin: 5%;
}

.bar a {
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    margin-top: 20px;
    text-decoration: none;
}

.bar button {
    background-color: rgb(250, 243, 243);
    border: 1px solid #cb8722;
    border-radius: 10px;
    /* color: #c49332; */
    padding: 10px 20px;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 15px;
    cursor: pointer;
    /* border: 0; */
}

.bar button:hover {
    background-color: #d29e37;
    color: rgb(163, 82, 82);
}

.items {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    border: 2px solid #cb8722;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: 35%;
}

.item img {
    max-width: 100%;
    height: auto;
}

.name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.name h3 {
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid #cb8722;
    width: 100%;
    margin: 20px 0;
}
